<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="/fragments/head :: header"></head>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header" id="top">
                            <h2 class="pageheader-title">Project Create </h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- basic form  -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <form>
                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="projectname" class="col-form-label">Project Name</label>
                                        <input id="projectname" type="text" class="form-control">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="projectcode" class="col-form-label">Project Code</label>
                                        <input id="projectcode" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="input-select">Assigned Manager</label>
                                        <select class="form-control" id="input-select">
                                            <option>Select</option>
                                        </select><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="project-start-date">Project Start Date</label>
                                        <select class="form-control" type="date" id="project-start-date">
                                            <option>mm/dd/yyyy</option>
                                        </select><br>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="project-end-date">Project End Date</label>
                                        <select class="form-control" type="date" id="project-end-date">
                                            <option>mm/dd/yyyy</option>
                                        </select><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="project-detail">Project Detail</label>
                                        <textarea id="project-detail" type="text" class="form-control"></textarea>
                                        <br>
                                        <button type="button" class="btn btn-success fa-pull-right">Save</button><br><br>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form">
                    <!-- striped table -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12">
                        <div class="card">
                            <h5 class="card-header">User List</h5>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Project</th>
                                        <th scope="col">Project Name</th>
                                        <th scope="col">Start/End Date</th>
                                        <th scope="col">Manager</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>PRJ001</td>
                                        <td>Human Resource CRM</td>
                                        <td>11.03.2020-11.09.2020</td>
                                        <td>Delisa Norre</td>
                                        <td>In Progress</td>
                                        <td>
                                            <button type="button" class="btn btn-warning">Update</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-info">Complete</button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>PRJ002</td>
                                        <td>Intra Upgrade</td>
                                        <td>11.03.2020-11.09.2020</td>
                                        <td>Craig Jark</td>
                                        <td>UAT Testing</td>
                                        <td>
                                            <button type="button" class="btn btn-warning">Update</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-info">Complete</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end striped table -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end basic form  -->
                <!-- ============================================================== -->

            </div>
        </div>
        <!-- ============================================================== -->

        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/footer :: footer"></div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>
